body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-screen-height {
  height: 100vh;
}

.auth-toast {
  position: absolute;
  width: 100%!important;
  bottom: 0;
}

.account-setup-container {
  flex-direction: column!important;
}
.progress-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem;
}

.custom-progress-bar {
  border: solid black;
  border-radius: 360px;
  height: 5vh;
}

.step-one {
  border-radius: 360px 0px 0px 360px;
}

.step-two {
  border-radius: 0px 360px 360px 0px;
}

.icon-item {
  height: 100%; 
  width: 100%;
  object-fit: fill;
  border: solid black;
  background: #a9a9a9;
  padding: 1rem;
}